
body {
	margin:0px;
	font-size:16px;
	color: lightgrey;
	background-color: black;
}

a {
	text-decoration:none;
}


.all-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.content {
	margin:20px;
	padding:20px;
	flex: 1 0 auto;
}

.insidecontent {
	padding:20px;
}

.menu {
	margin:0;
	padding:0;
}

footer {
	margin: 0;
	padding: 0;
	display: block;
	color: white;
	cursor:default;
}

p a{
	display: inline-block;
	color: black;
	text-align: center;
	padding-left: 14px;
	text-decoration: none;
}

.padleft {
	padding-left:20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a, .dropbtn{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: red;
}

.liright {
	float:right;
	padding:0px;
}


@media screen (max-width: 2900px) {
	ul.sidenav {
	width: 100%;
		height: auto;
		position: relative;
	}
	ul.sidenav li a {
	float: left;
		padding: 15px;
	}
	div.content {
		margin-left: 0;
	}
}

li:last-child {
	border-right: none;
}


@media screen (max-width: 400px) {
	ul.sidenav li a {
		text-align: center;
		float: none;
	}
}

.message {
	position: relative;
	display: block;
	padding: 20px;
	background-color: red;
	color: white;
	cursor: default;
}

.message_error {
	position:relative;
	display:block;
	padding:0px;
	background-color:red;
	color:white;
	cursor:default;
	border: 0px solid;
	border-radius:10px;
}

.message_ok {
	position:relative;
	display:block;
	padding:0px;
	background-color:lightgreen;
	color:black;
	cursor:default;
	border: 0px solid;
	border-radius:10px;
}


.topright, .toprightclose {
	text-decoration:none;
	position:absolute;
	right:5px;
	top:15px;
	padding:10px;
	font-size:1em;
	color:white;
}

.toprightclose:after {
	content:"\274C";
}

.topleftmenu1:before {
	content:"\2630";
	padding-right:10px;
	padding-left:10px;
	text-decoration:bold;
	font-size:1.2em;
}

.center {
	text-align:center !important;
}

.container {
	position:relative;
	display:block;
	cursor:default;
	clear:both;
}

.card, .containerbox {
	position:relative;
	display:block;
	cursor:default;
	clear:both;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.card-header {
	padding:10px 10px 10px 10px;
	background-color:#2196F3;
	color:white;
	font-size:1.3em;
	cursor: default;
	border-radius: 5px;
}
.card-header-tab {
	background-color:#2196F3;
	color:white;
	font-size:1.2em;
	padding:0px;
}
.card-footer {
	padding:10px;
	background-color:#2196F3;
	color:white;
}
.card-footer2 {
	padding:10px;
	text-align:right;
	background-color:#2196F3;
	color:white;
}
.card-body {
	padding:20px;
}
.cardbody {
	border: 1px solid;
	border-color: #2196F3;
	border-radius: 5px;
}
.card p h2{
	padding:10px;
}

.card form {
	padding:20px;
}


.search_icon{
	cursor: pointer;
	transform:rotate(90deg);
}

.esearch_icon:after{
	content:"\260C";
}

.search_icon:hover{
	background-color:red;
}


.mt-table,.mt-table-all {
	border-spacing:0;
	width:100%;
	display:table;
}
.mt-table-all {
	border:1px solid #ccc;
	border-radius: 5px;
}
.mt-bordered tr,.mt-table-all tr {
	border-bottom:1px solid #ddd;
}

.mt-striped tbody tr:nth-child(even) {
	background-color:lightgrey;
}

.mt-table-all tr:nth-child(odd) {
	background-color:grey;color:black;
}

.mt-table-all tr:nth-child(even) {
	background-color:dimgrey;color:black;
}

.mt-hoverable tbody tr:hover,.mt-ul.mt-hoverable li:hover {
	background-color:#ccc;
}

.mt-centered tr th,.mt-centered tr td {
	text-align:center;
}

.mt-table td,.mt-table th,.mt-table-all td,.mt-table-all th {
	padding:8px 8px;
	display:table-cell;
	text-align:left;
	vertical-align:middle;
}

.mt-table th:first-child,.mt-table td:first-child,.mt-table-all th:first-child,.mt-table-all td:first-child {
	padding-left:16px;
}

.mt-red,.mt-hover-red:hover {
	color:#fff!important;
	background-color:#f44336!important;
}


input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	background-color:dimgrey;
	color:white;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	background-color:dimgrey;
	color:white;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.inputbutton {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

#inputlabel {
	width: 20%;
	border: 1px solid;
}


.spaceline {
	padding-top:25px;
}

.spaceline50 {
	padding-top:50px;
}

.spaceline100 {
	padding-top:100px;
}




/* local app css */

